@font-face {
    font-family: 'Lora';
    src: local('Lora Bold'), local('Lora-Bold'),
        url('../fonts/LoraBold.woff2') format('woff2'),
        url('../fonts/LoraBold.woff') format('woff');
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: local('ManropeRegular'), local('Manrope-Regular'),
        url('../fonts/ManropeRegular.woff2') format('woff2'),
        url('../fonts/ManropeRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}