@import 'variables.scss';
@import 'mixins.scss';

html {
	box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: $brown;
    margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .butten-reset {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  svg {
    cursor: pointer;
  }

   ul, li, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
   }

  .btn {
    display: inline-block;
    padding: 15px $margin30;
    background-color: $light-brown;
    color: $white;
    border: 2px solid transparent;
    @include font (400, 14px, 125%);
    @include transition (all);
    @media (max-width: $breackPoint_sm) {
      font-size: 10px;
      padding: 15px 20px;
    }
    &:focus-visible {
      background-color: $brown;
      outline: none;
    }
    &:hover {
      background-color: transparent;
      border: 2px solid $brown;
      scale: 1.1;
      color: $brown;
    }
    &:active {
        background-color: $beuge;
        color: $brown;
    }

  }

  .entry__bottom-form-btn {
    display: inline-block;
    padding: 15px $margin30;
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    @include font (400, 14px, 125%);
    @include transition (all);
    @media (max-width: $breackPoint_sm) {
        font-size: 10px;
        padding: 15px 20px;
      }
    &:focus-visible {
        background-color: $light-brown;
        border: none;
        outline: none;
    }
    &:hover {
        scale: 1.1;
        background-color: transparent;
        border: 2px solid $beuge;
        color: $beuge;
    }
    &:active {
        background-color: $beuge;
        color: $brown;
    }
}

  h1, h2, h3, ul, p {
    margin: 0;
  }

  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
    @media (max-width: $breackPoint_xxl) {
      padding: 0 20px;
    }
    @media (max-width: $breackPoint_md) {
      padding: 0 15px;
    }
    @media (max-width: $breackPoint_sm) {
      padding: 0 10px;
    }
  }

  .title {
    font-family: 'Lora';
  }

  
