$margin20: 20px;
$margin30: 30px;
$margin40: 40px;
$margin60: 60px;
$margin80: 80px;

$brown:#282828;
$light-brown: #986f00;
$white: #fff;
$beuge: #fff1c7;
$orange: #ff721a;


$breackPoint_xxl: 1200px;
$breackPoint_xl: 992px;
$breackPoint_md: 768px;
$breackPoint_sm: 576px;